.row {
    margin-right: 30px;
}

table {
    margin: auto;
    margin-top: 100px;
}

td {
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    user-select: none;
}

.text {
    margin: auto;
    width: fit-content;
    color: #145514;
    font-weight: bold;
}
