.row {
    margin-right: 30px;
    margin-top: 80px;
}

table {
    margin: auto;
}

td {
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    user-select: none;
}

.text {
    margin: auto;
    width: fit-content;
    color: #145514;
    font-weight: bold;
}

.btn-change {
    margin-left: 526px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 110px;
    background-color: #5f26a9;
    color: white;
    font-weight: bold;
    font-size: 15p;
    font-size: 15px;
}
