table,
td {
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    user-select: none;
}

.text {
    font-weight: bold;
    color: #145514;
}
